@font-face {
    font-family: 'JejuMyeongjo';
    src: url('/assets/fonts/JejuMyeongjo.eot');
    src: url('/assets/fonts/JejuMyeongjo.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/JejuMyeongjo.woff2') format('woff2'),
    url('/assets/fonts/JejuMyeongjo.woff') format('woff'),
    url('/assets/fonts/JejuMyeongjo.ttf') format('truetype'),
    url('/assets/fonts/JejuMyeongjo.svg#JejuMyeongjo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#contact {
    width: 100%;
    /*background-image: url("/images/back_img.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: #0D0803;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
}
.contact_wrapper {
    width: 100%;
    max-width: 1593px;
    margin: 0 auto;
}
.contact_title_line_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 70px;
}
.contact_title {
    color: rgba(196, 125, 78, 1);
    font-weight: 400;
    font-size: 29px;
    font-family: 'JejuMyeongjo', sans-serif;
    margin-right: 19px;
}
.contact_line {
    background: rgba(196, 125, 78, 1);
    flex: 1;
    height: 1px;
    position: relative;
    bottom: 6px;
}
.contact_social_links_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_social_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(180deg, #835628 -51.06%, #0D0803 106.98%);
    width: 32%;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    padding: 49px 0;
    height: 285px;
    text-decoration: none;
}
.contact_social_link_title {
    font-family: "Inter", serif;
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    font-size: 29px;
}
.contact_social_link_icon {
    height: 113px;
    margin-bottom: 39px;
}
.contact_social_link_icon2 {
    display: none;
}
.contact_social_link_icon3 {
    display: none;
}
/*mobile*/

@media (min-width: 760px) and (max-width: 1642px) {
    .contact_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
}
@media  (max-width: 760px) {
    .contact_wrapper {
        max-width: unset!important;
        width: 85% !important;
    }

}


@media (min-width: 860px) and (max-width: 1000px) {
    .contact_social_link_icon2 {
        display: flex!important;
        height: 60px!important;
        margin-bottom: 30px!important;
    }
    .contact_social_link_icon {
        display: none!important;
    }
    .contact_social_link_title {
        font-size: 26px!important;
    }
    .contact_social_link {
        height: 200px!important;
        border-radius: 15px!important;
    }
    .contact {
        padding-top: 120px!important;
    }
}
@media (min-width: 768px) and (max-width: 860px) {

    .contact {
        padding-top: 100px!important;
    }
    .contact_title {
        font-size: 27px!important;
        margin-right: 17px!important;
    }
    .contact_title_line_wrapper {
        margin-bottom: 60px!important;
    }
    .contact_social_link_icon2 {
        display: flex!important;
        height: 60px!important;
        margin-bottom: 25px!important;
    }
    .contact_social_link_icon {
        display: none!important;
    }
    .contact_social_link_title {
        font-size: 20px!important;
    }
    .contact_social_link {
        height: 180px!important;
        border-radius: 12px!important;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    #contact {
        height: 100% !important;
    }
    .contact {
        padding-top: 100px!important;
    }
    .contact_title {
        font-size: 26px!important;
        margin-right: 15px!important;
    }
    .contact_title_line_wrapper {
        margin-bottom: 50px!important;
    }
    .contact_social_link_icon2 {
        display: flex!important;
        height: 55px!important;
        margin-bottom: 20px!important;
    }
    .contact_social_link_icon {
        display: none!important;
    }
    .contact_social_link_icon3 {
        display: none!important;
    }
    .contact_social_link_title {
        font-size: 15px!important;
    }
    .contact_social_link {
        height: unset!important;
        border-radius: 8px!important;
        width: 100% !important;
        margin-bottom: 20px;
        padding: 20px 0!important;
    }
    .contact_social_links_wrapper {
        flex-wrap: wrap;
    }
}
@media (min-width: 375px) and (max-width: 426px) {
    #contact {
        height: 100% !important;
    }
    .contact {
        padding-top: 100px!important;
        padding-bottom: 80px!important;
    }
    .contact_title {
        font-size: 25px!important;
        margin-right: 10px!important;
    }
    .contact_title_line_wrapper {
        margin-bottom: 30px!important;
    }
    .contact_social_link_icon3 {
        display: flex!important;
        height: 35px!important;
        margin-bottom: 12px!important;
    }
    .contact_social_link_icon {
        display: none!important;
    }
    .contact_social_link_icon2 {
        display: none!important;
    }
    .contact_social_link_title {
        font-size: 15px!important;
    }
    .contact_social_link {
        height: unset!important;
        border-radius: 6px!important;
        width: 100% !important;
        margin-bottom: 20px;
        padding: 15px 0!important;
    }
    .contact_social_links_wrapper {
        flex-wrap: wrap;
    }
}
@media (max-width: 375px) {
    #contact {
        height: 100% !important;
    }
    .contact {
        padding-top: 100px!important;
        padding-bottom: 80px!important;
    }
    .contact_title {
        font-size: 23px!important;
        margin-right: 10px!important;
    }
    .contact_title_line_wrapper {
        margin-bottom: 30px!important;
    }
    .contact_social_link_icon3 {
        display: flex!important;
        height: 35px!important;
        margin-bottom: 12px!important;
    }
    .contact_social_link_icon {
        display: none!important;
    }
    .contact_social_link_icon2 {
        display: none!important;
    }
    .contact_social_link_title {
        font-size: 15px!important;
    }
    .contact_social_link {
        height: unset!important;
        border-radius: 6px!important;
        width: 100% !important;
        margin-bottom: 20px;
        padding: 15px 0!important;
    }
    .contact_social_links_wrapper {
        flex-wrap: wrap;
    }
}
