.header {
    width: 100%;
    padding: 35px 0;
    position: absolute;
    z-index: 999;
}
.header_wrapper {
    width: 100%;
    max-width: 1593px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo_nav_wrapper {
    width: 100%;
    max-width: 958px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo_img {
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    position: relative;
    width: 100px;
    height: 88px;
}
.header_logo_img Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_nav {
    width: 100%;
    max-width: 711px;
}
.header_ul_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_login_register_buttons_wrapper {
    max-width: 275px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header_ul_li {
    cursor: pointer;
    list-style: none;
}

.header_ul_link {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    font-family: "Inter", serif;
    color: #C47D4E;
    font-weight: 400;
    font-size: 25px;


}
.active_link {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    font-family: "Inter", serif;
    color: rgba(120, 81, 36, 1);
    font-weight: 500;
    font-size: 25px;
}

.login_btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", serif;
    color: #C47D4E;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
}

.register_btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", serif;
    color: #C47D4E;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
}
.header_hamburger_icon {
    background: none;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
}

.mobile_menu_modal {
    position: fixed;
    background: #000000A3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    width: 100%;
    height: 100%;
}
.mobile_menu_modal_wrapper {
    width: 100%;
    background: rgba(13, 8, 3, 1);
    max-width: 363px;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    z-index: 999;
    left: 0;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 10px;


}
/*mobile*/
@media  (min-width: 1452px) and (max-width: 1642px) {
    .header_ul_link {
        font-size: 22px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 650px!important;
    }
    .login_btn {
        font-size: 22px!important;
    }
    .register_btn {
        font-size: 22px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 238px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 870px!important;
    }
}
@media  (min-width: 1380px) and (max-width: 1452px) {
    .header_ul_link {
        font-size: 22px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 650px!important;
    }
    .login_btn {
        font-size: 22px!important;
    }
    .register_btn {
        font-size: 22px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 238px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 840px!important;
    }
}
@media (min-width: 1319px) and (max-width: 1380px) {
    .header_ul_link {
        font-size: 20px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 590px!important;
    }
    .login_btn {
        font-size: 20px!important;
    }
    .register_btn {
        font-size: 20px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 218px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 800px!important;
    }
    .header_logo_img {
        width: 97px!important;
        /*height: 27px!important;*/
    }
}

@media  (min-width: 1220px) and  (max-width: 1319px) {
    .header_ul_link {
        font-size: 20px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 530px!important;
    }
    .login_btn {
        font-size: 20px!important;
    }
    .register_btn {
        font-size: 20px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 218px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 720px!important;
    }
    .header_logo_img {
        width: 97px!important;
        /*height: 27px!important;*/
    }
}


@media (min-width: 1120px) and (max-width: 1220px) {
    .header {
        padding: 30px 0!important;
    }
    .header_ul_link {
        font-size: 18px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 520px!important;
    }
    .login_btn {
        font-size: 18px!important;
    }
    .register_btn {
        font-size: 18px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 190px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 680px!important;
    }
    .header_logo_img {
        width: 94px!important;
        /*height: 26px!important;*/
    }
}
@media (min-width: 1070px) and (max-width: 1120px) {
    .header {
        padding: 25px 0!important;
    }
    .header_ul_link {
        font-size: 16px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 480px!important;
    }
    .login_btn {
        font-size: 16px!important;
    }
    .register_btn {
        font-size: 16px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 170px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 650px!important;
    }
    .header_logo_img {
        width: 94px!important;
        /*height: 26px!important;*/
    }
}
@media (min-width: 1000px) and (max-width: 1070px) {
    .header {
        padding: 25px 0!important;
    }
    .header_ul_link {
        font-size: 15px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 430px!important;
    }
    .login_btn {
        font-size: 16px!important;
    }
    .register_btn {
        font-size: 16px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 170px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 590px!important;
    }
    .header_logo_img {
        width: 94px!important;
        /*height: 26px!important;*/
    }
}
@media (min-width: 910px) and (max-width: 1000px) {
    .header {
        padding: 25px 0!important;
    }
    .header_ul_link {
        font-size: 14px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 400px!important;
    }
    .login_btn {
        font-size: 16px!important;
    }
    .register_btn {
        font-size: 16px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 170px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 540px!important;
    }
    .header_logo_img {
        width: 82px!important;
        height: 80px!important;
    }
}
@media (min-width: 860px) and (max-width: 910px) {
    .header {
        padding: 25px 0!important;
    }
    .header_ul_link {
        font-size: 14px!important;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        width: 100%;
        max-width: 380px!important;
    }
    .login_btn {
        font-size: 16px!important;
    }
    .register_btn {
        font-size: 16px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 170px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 510px!important;
    }
    .header_logo_img {
        width: 82px!important;
        height: 80px!important;
    }
}
@media (min-width: 760px) and (max-width: 860px) {
    .mobile_menu_modal_close_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        margin-right: 30px;
    }
    .mobile_header_logo_img {
        position: relative;
        height: 17px;
        width: 61px;
    }
    .mobile_header_logo_img Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mobile_menu_modal_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 244px;
        width: 100%;
        margin-bottom: 28px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(196, 125, 78, 1)
    }
    .mobile_header_nav {
        width: 100%;
    }
    .header_ul_list {
        flex-direction: column;
        align-items: flex-start!important;
        justify-content: flex-start!important;
    }
    .header {
        padding: 25px 0!important;
    }
    .header_ul_link {
        font-size: 25px!important;
        margin-bottom: 20px;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 85% !important;
    }
    .header_nav {
        display: none!important;
    }
    .login_btn {
        font-size: 14px!important;
    }
    .register_btn {
        font-size: 14px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 150px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 120px!important;
    }
    .header_logo_img {
        width: 72px!important;
        height: 70px!important;
    }
    .header_hamburger_icon {
        display: flex!important;
    }
}
@media (min-width: 426px) and (max-width: 760px) {
    .mobile_menu_modal_close_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        margin-right: 30px;
    }
    .mobile_header_logo_img {
        position: relative;
        height: 17px;
        width: 61px;
    }
    .mobile_header_logo_img Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mobile_menu_modal_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 244px;
        width: 100%;
        margin-bottom: 28px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(196, 125, 78, 1)
    }
    .mobile_header_nav {
        width: 100%;
    }
    .header_ul_list {
        flex-direction: column;
        align-items: flex-start!important;
        justify-content: flex-start!important;
    }
    .header {
        padding: 25px 0!important;
    }
    .header_ul_link {
        font-size: 25px!important;
        margin-bottom: 20px;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 85% !important;
    }
    .header_nav {
        display: none!important;
    }
    .login_btn {
        font-size: 13px!important;
    }
    .register_btn {
        font-size: 13px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 140px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 95px!important;
    }
    .header_logo_img {
        width: 61px!important;
        height: 60px!important;
    }
    .header_hamburger_icon {
        display: flex!important;
    }
}
@media  (max-width: 426px) {
    .mobile_menu_modal_wrapper {
        max-width: unset!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .mobile_menu_modal_close_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        margin-right: 30px;
    }
    .mobile_header_logo_img {
        position: relative;
        height: 17px;
        width: 61px;
    }
    .mobile_header_logo_img Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mobile_menu_modal_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 28px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(196, 125, 78, 1)
    }
    .mobile_header_nav {
        width: 100%;
    }
    .header_ul_list {
        flex-direction: column;
        align-items: flex-start!important;
        justify-content: flex-start!important;
    }
    .header {
        padding: 25px 0!important;
    }
    .header_ul_link {
        font-size: 25px!important;
        margin-bottom: 20px;
    }
    .header_wrapper {
        max-width: unset!important;
        width: 90% !important;
    }
    .header_nav {
        display: none!important;
    }
    .login_btn {
        font-size: 12px!important;
    }
    .register_btn {
        font-size: 12px!important;
    }
    .header_login_register_buttons_wrapper {
        max-width: 132px!important;
    }
    .header_logo_nav_wrapper {
        max-width: 85px!important;
    }
    .header_logo_img {
        width: 60px!important;
        height: 60px!important;
    }
    .header_hamburger_icon {
        display: flex!important;
    }
}




.header_dropdown_form {
    width: 100%;
    max-width: 200px;
    /*position: relative;*/
    flex: 1;
    cursor: pointer;
}

.header_dropdown_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}
.header_dropdown_menu_list {
    width: 100%;
}

.header_dropdown_header_title {
    font-family: "Inter", serif;
    color: rgba(196, 125, 78, 1);
    font-size: 20px;
    font-weight: 400;
    margin-right: 14px;
}

.header_dropdown_item {
    font-family: "Inter", serif;
    color: rgba(196, 125, 78, 1);
    font-size: 18px;
    font-weight: 400;
    /*padding-bottom: 8px;*/
    margin-bottom: 14px;
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header_dropdown_item span {
    margin-right: 15px;
}

/*.header_dropdown_item:not(:last-of-type) {*/
/*    border-bottom: 1px solid rgba(120, 81, 36, 1);*/
/*}*/



.header_dropdown_menu {
    position: absolute;
    top: -13px;
    left: 0;
    background: rgba(13, 8, 3, 1);
    border: 1px solid rgba(120, 81, 36, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    /*padding: 0;*/
    width: 250px;
    z-index: 9999999;
    border-radius: 8px;
    padding: 10px 13px 20px 13px;
}

.header_dropdown_menu_header {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
    margin-bottom: 9px;
    border-bottom: 1px solid rgba(196, 125, 78, 1);
}
.header_dropdown_header_icon_mobile {
    display: none;
}

.header_user_img {
    position: relative;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}
.header_user_img Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
}

.header_user_img_info_wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.header_user_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

.header_user_balance_info_wrapper {
    background: rgba(196, 125, 78, 1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 148px;
    height: 46px;
    margin-right: 10px;
}
.header_user_balance_price_info {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 22px;
    font-family: 'JejuMyeongjo', sans-serif;
}

.header_user_balance_price_info span {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 15px;
    font-family: 'JejuMyeongjo', sans-serif;
}
.header_user_balance_info2  {
    color: rgba(222, 222, 222, 1);
    font-weight: 300;
    font-size: 13px;
    font-family: "Inter", serif;
}

@media (min-width: 1380px) and (max-width: 1452px) {
    .header_user_balance_info_wrapper {
        max-width: 135px!important;
    }
    .header_user_info_wrapper {
        max-width: 380px!important;
    }
}
@media (min-width: 1260px) and (max-width: 1380px) {
    .header_user_balance_info_wrapper {
        max-width: 130px!important;
    }
    .header_user_info_wrapper {
        max-width: 360px!important;
    }
    .header_user_img {
        width: 40px!important;
        height: 40px!important;
        margin-right: 10px!important;
    }
    .header_dropdown_header_title {
        font-size: 20px!important;
        margin-right: 14px!important;
    }
    .header_user_balance_price_info {
        font-size: 20px!important;
    }
    .header_user_balance_price_info span{
        font-size: 13px!important;
    }
    .header_user_balance_info2 {
        font-size: 12px!important;
    }
}
@media (min-width: 1160px) and (max-width: 1260px) {
    .header_user_balance_info_wrapper {
        max-width: 110px!important;
        border-radius: 4px;
        height: 43px!important;
    }
    .header_user_info_wrapper {
        max-width: 320px!important;
    }
    .header_user_img {
        width: 35px!important;
        height: 35px!important;
        margin-right: 8px!important;
    }
    .header_dropdown_header_title {
        font-size: 18px!important;
        margin-right: 12px!important;
    }
    .header_user_balance_price_info {
        font-size: 18px!important;
    }
    .header_user_balance_price_info span{
        font-size: 12px!important;
    }
    .header_user_balance_info2 {
        font-size: 10px!important;
    }
}
@media (min-width: 954px) and  (max-width: 1160px) {
    .header_user_balance_info_wrapper {
        max-width: 100px!important;
        border-radius: 4px;
        height: 42px!important;
    }
    .header_user_info_wrapper {
        max-width: 290px!important;
    }
    .header_user_img {
        width: 30px!important;
        height: 30px!important;
        margin-right: 8px!important;
    }
    .header_dropdown_header_title {
        font-size: 16px!important;
        margin-right: 10px!important;
    }

    .header_user_balance_price_info {
        font-size: 16px!important;
    }
    .header_user_balance_price_info span{
        font-size: 11px!important;
    }
    .header_user_balance_info2 {
        font-size: 8px!important;
    }
}
@media (min-width: 883px) and (max-width: 954px) {
    .header_user_balance_info_wrapper {
        max-width: 90px!important;
        border-radius: 4px;
        height: 38px!important;
    }
    .header_user_info_wrapper {
        max-width: 260px!important;
    }
    .header_user_img {
        width: 25px!important;
        height: 25px!important;
        margin-right: 8px!important;
    }
    .header_dropdown_header_title {
        font-size: 14px!important;
        margin-right: 10px!important;
    }

    .header_user_balance_price_info {
        font-size: 14px!important;
    }
    .header_user_balance_price_info span{
        font-size: 10px!important;
    }
    .header_user_balance_info2 {
        font-size: 8px!important;
    }
}
@media (min-width: 860px) and  (max-width: 883px) {
    .header_dropdown_header_icon {
        display: none!important;
    }
    .header_dropdown_header_icon_mobile {
        display: flex!important;
    }
    .header_user_balance_info_wrapper {
        max-width: 80px!important;
        border-radius: 4px;
        height: 32px!important;
    }
    .header_user_info_wrapper {
        max-width: 220px!important;
    }
    .header_user_img {
        width: 24px!important;
        height: 24px!important;
        margin-right: 8px!important;
    }
    .header_dropdown_header_title {
        font-size: 12px!important;
        margin-right: 8px!important;
    }

    .header_user_balance_price_info {
        font-size: 12px!important;
    }
    .header_user_balance_price_info span{
        font-size: 9px!important;
    }
    .header_user_balance_info2 {
        font-size: 8px!important;
    }
}
@media (min-width: 480px) and (max-width: 860px) {
    .header_dropdown_header_icon {
        display: none!important;
    }
    .header_dropdown_header_icon_mobile {
        display: flex!important;
    }
    .header_user_balance_info_wrapper {
        max-width: 70px!important;
        border-radius: 3px;
        height: 25px!important;
    }
    .header_user_info_wrapper {
        max-width: 211px!important;
    }
    .header_user_img {
        width: 22px!important;
        height: 22px!important;
        margin-right: 8px!important;
    }
    .header_dropdown_header_title {
        font-size: 11px!important;
        margin-right: 7px!important;
    }

    .header_user_balance_price_info {
        font-size: 11px!important;
    }
    .header_user_balance_price_info span{
        font-size: 7px!important;
    }
    .header_user_balance_info2 {
        font-size: 7px!important;
    }
}
@media (min-width: 426px) and (max-width: 480px) {

    .header_dropdown_header_icon {
        display: none!important;
    }
    .header_dropdown_header_icon_mobile {
        display: flex!important;
    }
    .header_user_balance_info_wrapper {
        max-width: 70px!important;
        border-radius: 3px;
        height: 25px!important;
    }
    .header_user_info_wrapper {
        max-width: 200px!important;
    }
    .header_user_img {
        width: 22px!important;
        height: 22px!important;
        margin-right: 8px!important;
    }
    .header_dropdown_header_title {
        font-size: 11px!important;
        margin-right: 7px!important;
    }
    .header_user_balance_price_info {
        font-size: 11px!important;
    }
    .header_user_balance_price_info span{
        font-size: 7px!important;
    }
    .header_user_balance_info2 {
        font-size: 7px!important;
    }
}
@media  (max-width: 426px) {

    .header_dropdown_header_icon {
        display: none!important;
    }
    .header_dropdown_header_icon_mobile {
        display: flex!important;
    }
    .header_user_balance_info_wrapper {
        display: none!important;
    }
    .header_user_info_wrapper {
        max-width: 120px!important;
    }
    .header_user_img {
        width: 21px!important;
        height: 21px!important;
        margin-right: 7px!important;
    }
    .header_dropdown_header_title {
        font-size: 10px!important;
        margin-right: 7px!important;
    }
    .header_user_balance_price_info {
        font-size: 11px!important;
    }
    .header_user_balance_price_info span{
        font-size: 7px!important;
    }
    .header_user_balance_info2 {
        font-size: 7px!important;
    }
}


.header_dropdown_item_icon2 {
    display: none;
}

.header_dropdown_item_icon3 {
    display: none;
}


.mobile_menu_modal_header_item1 {
    display: flex;
    align-items: center;
}

@media (max-width: 860px) {
    .mobile_header_user_balance_info_wrapper {
        background: rgba(196, 125, 78, 1);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 70px;
        height: 25px;
    }
    .header_user_balance_price_info {
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-size: 10px;
        font-family: 'JejuMyeongjo', sans-serif;
    }

    .header_user_balance_price_info span {
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-size: 7px;
        font-family: 'JejuMyeongjo', sans-serif;
    }
    .header_user_balance_info2  {
        color: rgba(222, 222, 222, 1);
        font-weight: 300;
        font-size: 7px;
        font-family: "Inter", serif;
    }
}

@media (min-width: 1642px) and (max-width: 1672px) {
    .header_dropdown_menu {
        left: -20px!important;
    }
}

@media (min-width: 1160px) and  (max-width: 1260px) {
    .header_dropdown_menu {
        left: -15px!important;
    }
    .header_dropdown_item {
        font-size: 16px!important;
    }
}
@media (min-width: 954px) and  (max-width: 1160px) {
    .header_dropdown_menu {
        left: -16px!important;
        width: 220px!important;
    }
    .header_dropdown_item {
        font-size: 16px!important;
    }
    .header_dropdown_item_icon2 {
        display: flex!important;
    }
    .header_dropdown_item_icon1 {
        display: none!important;
    }
}
@media (min-width: 883px) and (max-width: 954px) {
    .header_dropdown_menu {
        left: -16px!important;
        width: 200px!important;
    }
    .header_dropdown_item {
        font-size: 14px!important;
    }
    .header_dropdown_item_icon2 {
        display: flex!important;
    }
    .header_dropdown_item_icon1 {
        display: none!important;
    }
}
@media (min-width: 768px) and (max-width: 883px) {
    .header_dropdown_menu {
        left: -16px!important;
        width: 180px!important;
        border-radius: 6px!important;
    }
    .header_dropdown_item {
        font-size: 12px!important;
    }
    .header_dropdown_item_icon2 {
        display: none!important;
    }
    .header_dropdown_item_icon1 {
        display: none!important;
    }
    .header_dropdown_item_icon3 {
        display: flex!important;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .header_dropdown_menu_header {
        padding-bottom: 10px!important;
    }
    .header_dropdown_menu {
        left: -16px!important;
        width: 160px!important;
        border-radius: 4px!important;
        padding: 10px 10px 15px 10px!important;
    }
    .header_dropdown_item {
        font-size: 10px!important;
    }
    .header_dropdown_item_icon2 {
        display: none!important;
    }
    .header_dropdown_item_icon1 {
        display: none!important;
    }
    .header_dropdown_item_icon3 {
        display: flex!important;
    }
}
@media (max-width: 426px) {
    .header_dropdown_menu_header {
        padding-bottom: 10px!important;
    }
    .header_dropdown_menu {
        left: -30px!important;
        width: 160px!important;
        border-radius: 4px!important;
        padding: 10px 10px 15px 10px!important;
    }
    .header_dropdown_item {
        font-size: 10px!important;
    }
    .header_dropdown_item_icon2 {
        display: none!important;
    }
    .header_dropdown_item_icon1 {
        display: none!important;
    }
    .header_dropdown_item_icon3 {
        display: flex!important;
    }
}
