@font-face {
    font-family: 'JejuMyeongjo';
    src: url('/assets/fonts/JejuMyeongjo.eot');
    src: url('/assets/fonts/JejuMyeongjo.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/JejuMyeongjo.woff2') format('woff2'),
    url('/assets/fonts/JejuMyeongjo.woff') format('woff'),
    url('/assets/fonts/JejuMyeongjo.ttf') format('truetype'),
    url('/assets/fonts/JejuMyeongjo.svg#JejuMyeongjo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.login-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url("/images/login_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.login-wrapper2 {
    width: 100%;
    height: 100%;
    background-image: url("/images/login_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.login-wrapper_header {
    width: 100%;
    padding-left: 177px;
    padding-top: 35px;
    margin-bottom: 120px;
}
.login-wrapper_header2 {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-wrapper_header_link {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    width: 100px;
    height: 88px;
    position: relative;

}
.login-wrapper_header_link Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login_form {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(120, 81, 36, 1);
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 21px 30px 34px 30px;
}

.login_form_title {
    text-align: center;
    padding-bottom: 10px;
    color: rgba(120, 81, 36, 1);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 28px;
    width: 100%;
    border-bottom: 1px solid rgba(120, 81, 36, 1);
    margin-bottom: 30px;
}

.login_form_input_field {
    width: 100%;
    border: 1px solid rgba(120, 81, 36, 1);
    border-radius: 8px;
    padding: 12px;
    color: rgba(93, 93, 93, 1);
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;
    background: none;
    outline: none;
    cursor: pointer;

}
.login_form_input_field::placeholder {
    color: rgba(93, 93, 93, 1);
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;
}

.login_form_input {
    width: 100%;
    margin-bottom: 15px;
}

.forget_password_link_wrapper {
    width: 100%;
    margin-bottom: 21px;
    display: flex;
    align-items: flex-end;
}

.forget_password_link {
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    outline: none;

}

.login_form_btn {
    background: rgba(120, 81, 36, 1);
    max-width: 244px;
    width: 100%;
    margin: 0 auto;
    height: 41px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    font-family: 'JejuMyeongjo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 26px;
    border: none;
}

.login_form_btn_parent {
    width: 100%;
    border-bottom: 1px solid rgba(235, 235, 235, 0.22);
    margin-bottom: 26px;
}

.login_form_register_info_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login_form_register_info {
    margin-bottom: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(91, 91, 91, 1);

}

.login_form_register_link {
    cursor: pointer;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);

}


.login_form_input_field1 {
    width: 44px;
    height: 43px;
    border: 1px solid rgba(120, 81, 36, 1);
    border-radius: 8px;
    /*padding: 12px;*/
    color: rgba(93, 93, 93, 1);
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
}

.login_form_input_field2 {
    width: 100%;
    border: 1px solid rgba(120, 81, 36, 1);
    border-radius: 8px;
    padding: 12px;
    color: rgba(93, 93, 93, 1);
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;
    background: none;

}
.reverse_connection_form_input_field2::placeholder {
    color: rgba(93, 93, 93, 1);
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;

}
.login_form_input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

#login_form_input_password1 {
    position: relative;
}

#login_form_input_password2 {
    position: relative;
}

.password_icon_btn {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.checkbox_input_title_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.checkbox_input_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 14px;
}

.checkbox_input_label input {
    display: none;
}

.custom_checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid rgba(196, 125, 78, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.custom_checkbox_error {
    width: 18px;
    height: 18px;
    border: 1px solid red;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom_checkbox::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgba(196, 125, 78, 1);
    display: none;
    border-radius: 2px;
}

.checkbox_input_label input:checked + .custom_checkbox::after {
    display: block;
}

.checkbox_input_title {
    flex: 1;
    color: rgba(93, 93, 93, 1);
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 13px;
}

.checkbox_input_title2 {
    color: rgba(93, 93, 93, 1);
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 13px;
    text-decoration: underline;
}


/*mobile*/
@media (min-width: 980px) and (max-width: 1200px) {
    .login-wrapper_header {
        width: 100%;
        padding-left: 120px!important;
        padding-top: 30px!important;
        margin-bottom: 100px!important;
    }
}
@media (min-width: 780px) and (max-width: 980px) {
    .login_form_input_field1 {
        width: 40px!important;
        height: 40.5px!important;
        font-size: 12px!important;
    }
    .custom_checkbox {
        width: 16px!important;
        height: 16px!important;
    }
    .checkbox_input_label {
        margin-right: 12px!important;
    }
    .checkbox_input_title {
        font-size: 12px!important;
    }
    .checkbox_input_title2 {
        font-size: 12px!important;
    }

    .forget_password_link {
        font-size: 12px!important;
    }
    .login_form_btn_parent {
        margin-bottom: 24px!important;
    }
    .login_form_btn {
        max-width: 220px!important;
        font-size: 17px!important;
        height: 38px!important;
        margin-bottom: 24px!important;
    }
    .login-wrapper_header {
        width: 100%;
        padding-left: 100px!important;
        padding-top: 25px!important;
        margin-bottom: 90px!important;
    }
    .login_form_title {
        font-size: 26px!important;
        margin-bottom: 20px!important;
    }
    .login_form_input_field {
        font-size: 12px!important;
    }
    .dropdown_header_title {
        font-size: 12px!important;
    }
    .login_form_input_field2 {
        font-size: 12px!important;
    }
    .login_form_input_field::placeholder {
        font-size: 12px!important;
    }
    .login_form_input_field2::placeholder {
        font-size: 12px!important;
    }
    .dropdown_item {
        font-size: 12px!important;
    }

}
@media (min-width: 680px) and  (max-width: 780px) {
    .dropdown_menu {
        padding: 12px!important;
    }
    .password_icon_btn {
        top: 4px!important;

    }
    .login_form_input_field1 {
        width: 37px!important;
        height: 32px!important;
        font-size: 10px!important;
        margin-right: 12px!important;
        border-radius: 6px!important;
    }
    .custom_checkbox::after {
        width: 8px!important;
        height: 8px!important;
        border-radius: 1px!important;
    }
    .custom_checkbox {
        width: 15px!important;
        height: 15px!important;
        border-radius: 3px!important;
    }
    .checkbox_input_label {
        margin-right: 11px!important;
    }
    .checkbox_input_title {
        font-size: 10px!important;
    }
    .checkbox_input_title2 {
        font-size: 10px!important;
    }
    .forget_password_link {
        font-size: 10px!important;
    }
    .login_form_register_link {
        font-size: 14px!important;
    }
    .login_form_register_info {
        font-size: 12px!important;
        margin-bottom: 10px!important;
    }
    .login_form_btn_parent {
        margin-bottom: 22px!important;
    }
    .login_form_btn {
        max-width: 206px!important;
        font-size: 15px!important;
        border-radius: 8px!important;
        height: 34px!important;
        margin-bottom: 22px!important;
    }
    .login-wrapper_header {
        width: 100%;
        padding-left: 80px!important;
        padding-top: 20px!important;
        margin-bottom: 100px!important;
    }
    .login_form_title {
        font-size: 24px!important;
        padding-bottom: 10px!important;
        margin-bottom: 20px!important;
    }
    .login_form_input_field {
        font-size: 10px!important;
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .dropdown_header_title {
        font-size: 10px!important;
    }
    .dropdown_header {
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .login_form_input_field2 {
        font-size: 10px!important;
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .login_form_input_field::placeholder {
        font-size: 10px!important;
    }
    .login_form_input_field2::placeholder {
        font-size: 10px!important;
    }
    .login_form {
        padding: 23px 25px!important;
    }
    .dropdown_item {
        font-size: 10px!important;
        padding-bottom: 8px!important;
    }
}
@media  (min-width: 426px) and (max-width: 680px) {
    .dropdown_menu {
        padding: 10px!important;
    }
    .password_icon_btn {
        top: 4px!important;

    }
    .login_form_input_field1 {
        width: 37px!important;
        height: 32px!important;
        font-size: 10px!important;
        margin-right: 12px!important;
        border-radius: 6px!important;
    }
    .custom_checkbox::after {
        width: 8px!important;
        height: 8px!important;
        border-radius: 1px!important;
    }
    .custom_checkbox {
        width: 13px!important;
        height: 13px!important;
        border-radius: 3px!important;
    }
    .checkbox_input_label {
        margin-right: 10px!important;
    }
    .checkbox_input_title {
        font-size: 9px!important;
    }
    .checkbox_input_title2 {
        font-size: 9px!important;
    }
    /*.login-wrapper_header_link {*/
    /*    width: 80px!important;*/
    /*    height: 22px!important;*/
    /*}*/
    .forget_password_link {
        font-size: 10px!important;
    }
    .login_form_register_link {
        font-size: 14px!important;
    }
    .login_form_register_info {
        font-size: 12px!important;
        margin-bottom: 10px!important;
    }
    .login_form_btn_parent {
        margin-bottom: 22px!important;
    }
    .login_form_btn {
        max-width: 206px!important;
        font-size: 15px!important;
        border-radius: 8px!important;
        height: 34px!important;
        margin-bottom: 22px!important;
    }
    .login-wrapper_header {
        width: 100%;
        padding-left: 50px!important;
        padding-top: 20px!important;
        margin-bottom: 100px!important;
    }
    .login_form_title {
        font-size: 22px!important;
        padding-bottom: 10px!important;
        margin-bottom: 20px!important;
    }
    .login_form_input_field {
        font-size: 10px!important;
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .dropdown_header_title {
        font-size: 10px!important;
    }
    .dropdown_header {
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .login_form_input_field2 {
        font-size: 10px!important;
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .login_form_input_field::placeholder {
        font-size: 10px!important;
    }
    .login_form_input_field2::placeholder {
        font-size: 10px!important;
    }
    .login_form {
        padding: 20px 22px!important;
    }
    .dropdown_item {
        font-size: 10px!important;
        padding-bottom: 8px!important;
    }
}
@media  (min-width: 375px) and (max-width: 426px) {
    .dropdown_menu {
        padding: 8px!important;
    }
    .password_icon_btn {
        top: 4px!important;

    }
    .login_form_input_field1 {
        width: 33px!important;
        height: 32px!important;
        font-size: 10px!important;
        margin-right: 10px!important;
        border-radius: 6px!important;
    }
    .custom_checkbox::after {
        width: 6px!important;
        height: 6px!important;
        border-radius: 0!important;
    }
    .custom_checkbox {
        width: 12px!important;
        height: 12px!important;
        border-radius: 2px!important;
    }
    .checkbox_input_label {
        margin-right: 9px!important;
    }
    .checkbox_input_title {
        font-size: 8px!important;
    }
    .checkbox_input_title2 {
        font-size: 8px!important;
    }
    /*.login-wrapper_header_link {*/
    /*    width: 65px!important;*/
    /*    height: 18px!important;*/
    /*}*/
    .forget_password_link {
        font-size: 10px!important;
    }
    .login_form_register_link {
        font-size: 14px!important;
    }
    .login_form_register_info {
        font-size: 12px!important;
        margin-bottom: 10px!important;
    }
    .login_form_btn_parent {
        margin-bottom: 20px!important;
    }
    .login_form_btn {
        max-width: 180px!important;
        font-size: 13px!important;
        border-radius: 5px!important;
        height: 30px!important;
        margin-bottom: 18px!important;
    }
    .login-wrapper_header {
        width: 100%;
        padding-left: 30px!important;
        padding-top: 25px!important;
        margin-bottom: 100px!important;
    }
    .login_form_title {
        font-size: 20px!important;
        padding-bottom: 10px!important;
        margin-bottom: 20px!important;
    }
    .login_form_input_field {
        font-size: 10px!important;
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .dropdown_item {
        font-size: 10px!important;
        padding-bottom: 6px!important;
    }
    .dropdown_header {
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .login_form_input_field2 {
        font-size: 10px!important;
        padding: 9px 12px!important;
        border-radius: 6px!important;
    }
    .login_form_input_field::placeholder {
        font-size: 10px!important;
    }
    .dropdown_header_title {
        font-size: 10px!important;
    }
    .login_form_input_field2::placeholder {
        font-size: 10px!important;
    }
    .login_form {
        padding: 20px 16px!important;
    }
}
@media   (max-width: 375px) {
    .dropdown_menu {
        padding: 8px!important;
    }
    .password_icon_btn {
        top: 1px!important;

    }
    .login_form_input_field1 {
        width: 26px!important;
        height: 28px!important;
        font-size: 10px!important;
        margin-right: 8px!important;
        border-radius: 4px!important;
    }
    .custom_checkbox::after {
        width: 4px!important;
        height: 4px!important;
        border-radius: 0!important;
    }
    .custom_checkbox {
        width: 10px!important;
        height: 10px!important;
        border-radius: 2px!important;
    }
    .checkbox_input_label {
        margin-right: 8px!important;
    }
    .checkbox_input_title {
        font-size: 7px!important;
    }
    .checkbox_input_title2 {
        font-size: 7px!important;
    }
    /*.login-wrapper_header_link {*/
    /*    width: 46px!important;*/
    /*    height: 13px!important;*/
    /*}*/
    .login-wrapper {
        padding-bottom: 70px!important;
    }
    .login-wrapper2 {
        padding-bottom: 70px!important;
    }
    .forget_password_link {
        font-size: 10px!important;
    }
    .login_form_register_link {
        font-size: 12px!important;
    }
    .login_form_register_info {
        font-size: 10px!important;
        margin-bottom: 8px!important;
    }
    .login_form_btn_parent {
        margin-bottom: 16px!important;
    }
    .login_form_btn {
        max-width: 150px!important;
        font-size: 13px!important;
        border-radius: 3px!important;
        height: 25px!important;
        margin-bottom: 15px!important;
    }
    .login-wrapper_header {
        width: 100%;
        padding-left: 30px!important;
        padding-top: 25px!important;
        margin-bottom: 80px!important;
    }
    .login_form_title {
        font-size: 17px!important;
        padding-bottom: 10px!important;
        margin-bottom: 20px!important;
    }
    .login_form_input_field {
        font-size: 10px!important;
        padding: 7px 12px!important;
        border-radius: 4px!important;
    }
    .dropdown_item {
        font-size: 10px!important;
        padding-bottom: 5px!important;
    }
    .dropdown_header_title {
        font-size: 10px!important;
    }
    .dropdown_header {
        padding: 7px 12px!important;
        border-radius: 4px!important;
    }
    .login_form_input_field::placeholder {
        font-size: 10px!important;
    }
    .login_form_input_field2 {
        font-size: 10px!important;
        padding: 7px 12px!important;
        border-radius: 4px!important;
    }
    .login_form_input_field2::placeholder {
        font-size: 10px!important;
    }
    .login_form {
        padding: 20px 16px!important;
    }
}

@media (max-width: 615px) {
    .login_form {
        max-width: unset!important;
        width: 93% !important;
    }
}

.dropdown_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(120, 81, 36, 1);
    border-radius: 8px;
    padding: 12px;
}

.dropdown_header_title {
    font-family: "Inter", serif;
    color: rgba(93, 93, 93, 1);
    font-size: 14px;
    font-weight: 400;
}

.dropdown_item {
    font-family: "Inter", serif;
    color: rgba(93, 93, 93, 1);
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}


.dropdown_menu {
    position: absolute;
    top: 99%;
    left: 0;
    background: rgba(13, 8, 3, 1);
    border-bottom: 1px solid rgba(120, 81, 36, 1);
    border-right: 1px solid rgba(120, 81, 36, 1);
    border-left: 1px solid rgba(120, 81, 36, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    /*padding: 0;*/
    width: 100%;
    z-index: 10;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px;
}

.dropdown_form {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.dropdown_header_icon_mobile {
    display: none;
}

@media (max-width: 768px) {
    .dropdown_header_icon_mobile {
        display: block!important;
    }
    .dropdown_header_icon {
        display:  none!important;
    }
}
.login_form_info {
    text-align: center;
    color: rgba(120, 81, 36, 1);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}

.error_text {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: red;
    position: relative;
    bottom: 10px;
}
.error_text2 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: red;
    margin-top: 10px;

}

.recovery_line {
    width: 100%;
    height: 1px;
    background: rgba(235, 235, 235, 1);
    margin-bottom: 26px;
    opacity: 22%;
}
